<!DOCTYPE html>
<html>
  <head>
    <title>UrlShort</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style= "background-image: url(http://www.doggifpage.com/gifs/<%= (1..150).to_a.sample %>.gif)">

        <%= yield %>
  </body>
</html>
